<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/tables::head">
</head>
<body id="page-top">
<div th:replace="/layout/tables::navbar"></div>
<div id="wrapper">
    <div th:replace="/layout/tables::Sidebar"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div th:replace="/layout/tables::breadcrumb"></div>

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Data Table users
                    <a href="javascript:void(0);" class="btn btn-primary" th:text="${title}"
                       onclick="users.openModal();" > Create users</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table  id="user-dataTables" name="user-dataTables" class="table table-bordered" width="100%" cellspacing="0">

                        </table>
                    </div>
                </div>
            </div>
            <p class="small text-center text-muted my-5">
                <em>More table examples coming soon...</em>
            </p>
        </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
        <div th:replace="/layout/tables::footer"></div>
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="/layout/tables::logoutModal"></div>
    <div th:replace="/layout/tables::Scroll"></div>
    <div th:replace="/layout/tables::js_source"></div>
</div>
<!-- The Modal -->
<div class="modal" id="addEditUser">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="formAddEdit" th:name="formAddEdit">
                    <input hidden name="id" id="id" >
                    <div class="form-group">
                        <label>User ID</label>
                        <input type="text" name="userId" id="userId" class="form-control" data-rule-required=true >
                    </div>
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" name="firstName" id="firstName" class="form-control" data-rule-required=true>
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" name="lastName" id="lastName" class="form-control" data-rule-required=true>
                    </div>
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <input type="date" name="birthDay" id="birthDay" class="form-control" data-rule-required=true>
                    </div>
                    <div class="form-group">
                        <label>Class Join</label>
                        <select name="classJoin" id="classJoin" class="form-control"></select>
                    </div>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-primary"
                   onclick="users.save()">Save</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
</body>
<script src="/myJS/Users.js"></script>
</html>