<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>demo Api</title>
</head>
<body>
<div class="container">
    <h2>User Management</h2>
    <a href="javascript:void(0);" class="btn btn-success">Create User</a>
    <div class="row mt-3 table-responsive">
        <table class="table table-hover table-dark table-bordered">
            <thead>
            <tr>
                <th>userId</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>birthDay</th>
                <th>classJoin</th>
                <th>userStatus</th>
                <th>Role</th>
                <th>Action</th>
    </div>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="Users.js"></script>

            </tr>
            </thead>
            <tbody id="tbUsers">

            </tbody>
        </table>
    </div>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="Users.js"></script>
</html>